/* @font-face {
    font-family: 'Archangelsk';
    src: url('~@/assets/fonts/arkhangelsk/Archangelsk.eot');
    src: local('~@/assets/fonts/arkhangelsk/Archangelsk'),
      url('~@/assets/fonts/arkhangelsk/Archangelsk.eot?#iefix') format('embedded-opentype'),
      url('~@/assets/fonts/arkhangelsk/Archangelsk.woff') format('woff'),
      url('~@/assets/fonts/arkhangelsk/Archangelsk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  } */